<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/bootstrap/css/bootstrap.min.css">
    <title>View Stories</title>
</head>

<body>
    <header class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container">
            <a class="navbar-brand mb-0 h1 text-dark" href="/">
                myStories
            </a>
            <ul class="navbar-nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addStory">Add Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/viewStories">View Stories</a>
                </li>
            </ul>
            <form class="form-inline float-right" action="/" method="POST">
                <p>Hello, <%= first_name %> <%= last_name %>! </p>
                <input type="hidden" name="logout" value="true">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Log Out</button>
            </form>
        </div>
    </header>
    <br><br>
    <div class="container">
        <div class="row">
            <div id="result"></div>
            <h2>My Stories...</h2>
            <% if (!(typeof stories == 'undefined')) { %>
            <table class="table">
                <tr>
                    <th>Story's name</th>
                    <th>Story's description</th>
                    <th>Date</th>
                </tr>
                <% for(story of stories) { %>
                <tr>
                    <td><%= story.story_name %></td>
                    <td><%= story.story_description %></td>
                    <td><%= story.story_date %></td>
                </tr>
                <% } %>
            </table>
            <% } %>
        </div>
    </div>
    <br>
</body>

</html>